/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
.head_text
{
   padding-top: 20px;
   font-size: 20px;
}



.search
{
   margin-top: 0px;
}
#top_right
{
   margin-top: -40px;
}
#acc{
   position: relative;
   left: 960px;
   top:-50px;
}
.navbar{
   height: 110px;
}


#MyCarousel{
   margin-top: 120px;
}

/* ------
--------------------------------
   Typography
   -------------------------------------- */


 
   #searchstyle
   {
      width:200px;
   }
   -------------------------------------- */
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
.carousel-inner
{
   margin-top: 50px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.left
{
   text-align: center;
   margin-right: 50px;
}



.lead
{
   text-align: center;
}

h3
{
   text-align: center;
}

.panel img
{
   margin-left: 50px;
}

.unstyled a
{
	color:grey; 
}
footer


{
   background:#333;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   #minimized{
      background-color: #eee;
      width: 100%;
   }	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#minimized{
      background-color: #eee;
      width: 100%;
   }
}

/* Large desktop */
@media (min-width: 1200px) {
	
}